<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
     <!--TODO: Have a task for this in webpack.-->
    <!--<link rel="stylesheet" href="/bootstrap.min.css" />-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css" rel="stylesheet" integrity="sha384-C0X5qw1DlkeV0RDunhmi4cUBUkPDTvUqzElcNWm1NI2T4k8tKMZ+wRPQOhZfSJ9N" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

    <h1>Air Traffic Control System</h1>

    <div id="react"></div>

    <script src="built/bundle.js"></script>

</body>
</html>